@*
 * Todo Card Component
 * Single todo row in table
 *@

@(todo: models.Todo)(implicit request: RequestHeader)

<tr class="@if(todo.completed) {has-background-success-light}">
    <td>
        @if(todo.completed) {
            <span class="tag is-success">✓ Completed</span>
        } else {
            <span class="tag is-warning"> Pending</span>
        }
    </td>
    <td>
        <strong class="@if(todo.completed) {todo-title-completed}">
            @todo.title
        </strong>
    </td>
    <td>
        @todo.description.getOrElse("-")
    </td>
    <td>
        <small class="has-text-grey">
            @todo.createdAt.toString.take(10)
        </small>
    </td>
    <td>
        <div class="buttons are-small">
            @helper.form(routes.TodoController.toggle(todo.id.get), Symbol("class") -> "inline-form") {
                @helper.CSRF.formField
                <button type="submit" class="button is-info is-small" title="Toggle Status">
                    @if(todo.completed) { x } else { ✓ }
                </button>
            }
            
            <a href="@routes.TodoController.edit(todo.id.get)" class="button is-warning is-small" title="Edit">Edit</a>
            
            @helper.form(routes.TodoController.delete(todo.id.get), Symbol("class") -> "inline-form delete-form") {
                @helper.CSRF.formField
                <button type="submit" class="button is-danger is-small" title="Delete">Delete</button>
            }
        </div>
    </td>
</tr>

